<!DOCTYPE html>
<html lang="en">
     <head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <title> Austin Live Music </title>
      <meta charset = 'UTF-8'>
      <meta name = 'description' content = 'Austin Live Music'>
      <meta name = 'author' content = 'Sam Miles, Zoe Michaux, Rodrigo Botello Saucedo, Eliza Chien, Anna Groves'>
      <meta name = 'viewport' content = 'width=device-width, initial-scale = 1.0'>
      <link rel = 'icon' href = 'plant.png'>
      <link rel = 'stylesheet' href = "{{ url_for('static', filename='styles.css') }}">
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
   </head>
   <!--
   <body>
      <div class = 'logo'>
         <img src = 'logo.png' alt = 'Austin Live Music'>
      </div>
      <div class = 'menu'>
         <a href = '../About/about.html'><img src = '../About/about.jpg' alt = 'About Us'></a>
         <a href = '../Genre/genre.html'><img src = '../Genre/genre.jpg' alt = 'Genre'></a>
         <a href = '../Musician/musician.html'><img src = '../Musician/musician.png' alt = 'Musician/Artist'></a>
         <a href = '../Place/place.html'><img src = '../Place/place.png' alt = 'Venues'></a>
         <a href = '../Models/models.html'><img src = '../Models/models.jpg' alt = 'Models'></a>
      </div>
      <div class = 'main'>
         <div class = 'summary'>
         -->
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" >
    <a class="navbar-brand" href="{{url_for('index')}}">Austin Music</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{{url_for('venue')}}">Venues</a>
         <a class="nav-link" href="{{url_for('genre')}}">Genre</a>
         <a class="nav-link" href="{{url_for('musician')}}">Musicians</a>
         <a class="nav-link" href="{{url_for('models')}}">Models</a>
         <a class="nav-link" href="{{url_for('about')}}">About Us</a>
      </div>
    </div>
  </div>
</nav>


<div style="background: url('/static/images/genre_header.jpg')" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center" >
        <h1 class="display-4 font-weight-bold">Genres</h1>
        
        
    </div>
</div>

<div id="content">
	<h3>Pop</h3>
	<div class="genreDescription">
		<p>Pop is a genre of popular music that originated in its modern form during the mid-1950s in the United States and the United Kingdom.
    Although much of the music that appears on record charts is seen as pop music, the genre is distinguished from chart music.
    Identifying factors usually include repeated choruses and hooks, short to medium-length songs written in a basic format (often the verse-chorus structure), and rhythms or tempos that can be easily danced to.</p>
	</div>
	<h4>Notable Musicians</h4>
		<p>Madonna, Michael Jackson, Britney Spears</p>
	<h4>Upcoming Austin Concerts</h4>
		<p><a href = "{{url_for('michael_buble')}}">Michael Bublé</a></p>
	<h4>Source</h4>
		<p><a href="https://en.wikipedia.org/wiki/Pop_music">Wikipedia</a></p>
</div>
    </body>
    <footer>
        <i>Austin Live Music™ 2021 (Sam, Zoe, Rodrigo, Anna, Eliza)<i>
    </footer>
