<!DOCTYPE html>
<html lang="en">
  <head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <title> Austin Live Music </title>
      <meta charset = 'UTF-8'>
      <meta name = 'description' content = 'Austin Live Music'>
      <meta name = 'author' content = 'Sam Miles, Zoe Michaux, Rodrigo Botello Saucedo, Eliza Chien, Anna Groves'>
      <meta name = 'viewport' content = 'width=device-width, initial-scale = 1.0'>

      <link rel = 'stylesheet'href = "{{ url_for('static', filename='styles.css') }}">
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

         <link rel="shortcut icon" href = "../static/images/favicon.png" >

   </head>

   <body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" >
    <a class="navbar-brand" href="{{url_for('index')}}"><img src='../static/images/logo.png'alt="logo" height = "60"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{{url_for('venue')}}" style = "vertical-align:bottom" style="font-size:20px">Venues</a>
         <a class="nav-link" href="{{url_for('genre')}}" style = "vertical-align:bottom" style="font-size:20px">Genre</a>
         <a class="nav-link" href="{{url_for('musician')}}" style = "vertical-align:bottom" style="font-size:20px">Musicians</a>
         <a class="nav-link" href="{{url_for('search')}}" style = "vertical-align:bottom" style="font-size:20px">Search</a>
         <a class="nav-link" href="{{url_for('about')}}" style = "vertical-align:bottom" style="font-size:20px">About Us</a>
      </div>
    </div>
    <!-- <form class="form-inline my-2 my-lg-0" action="{{ url_for('search') }}" method="POST">
  <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
</form>
  </div>
</nav>


<div style="background: url('/static/images/search.jpg')" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center" >
        <h1 class="display-4 font-weight-bold">Search</h1>


    </div>
</div>
<div id="content">
    <form class="form-inline my-2 my-lg-0" action="{{ url_for('search') }}" method="GET">
  <button class="btn btn-outline-info my-2 my-sm-0" type="submit">New Search</button>
</form>
        <h2>Search results</h2>
        <div>
            <h3>Artists</h3>
            <ul>
                {%- for i in range(artist|length) %}

                    <li>
                        <a href = "{{url_for('musician_template', musician=artist[i][1])}}">{{artist[i][0]}}</a></td>
                    </li>
                {%- endfor %}

            </ul>
            <h3>Venues</h3>
            <ul>
                {%- for i in range(venue|length) %}

                    <li>
                        <a href = "{{url_for('venue_template', venue=venue[i][1])}}">{{venue[i][0]}}</a></td>
                    </li>

                {%- endfor %}
            </ul>
            <h3>Genres</h3>
            <ul>
                {%- for i in range(genre|length) %}

                    <li>
                        <a href = "{{url_for('genre_template', genre=genre[i][1])}}">{{genre[i][0]}}</a></td>
                    </li>
                {%- endfor %}

            </ul>
            <!--
            <table style="width:100px; border: 1px solid black">
        		<thead>
        			{%- for column in show_columns %}
        				<th>{{column}}</th>
        			{%- endfor %}
        		</thead>

        		<tbody>
        		{%- for i in range(3) %}
        			<tr>

                        {%- if i == 0 %}
                        <td><ul>
                            {%- for i in range(artist|length) %}

                    			<li>
                                    <a href = "{{url_for('musician_template', musician=artist[i][1])}}">{{artist[i][0]}}</a></td>
                    			</li>
                    		{%- endfor %}

                        </ul></td>

        				{%- else %}
                            {%- if i == 1 %}
                            <td><ul>
                                {%- for i in range(venue|length) %}

                                    <li>
                                        <a href = "{{url_for('venue_template', venue=venue[i][1])}}">{{venue[i][0]}}</a></td>
                                    </li>

                                {%- endfor %}
                            </ul></td>
                            {%- else %}
        					    <td><ul>
                                    {%- for i in range(genre|length) %}

                            			<li>
                                            <a href = "{{url_for('genre_template', genre=genre[i][1])}}">{{genre[i][0]}}</a></td>
                            			</li>
                            		{%- endfor %}

                                </ul></td>
                            {%- endif %}
        				{%- endif %}
        			</tr>
        		{%- endfor %}
        		</tbody>
        	</table> -->


        </div>
</div>
</body>
<footer>
	<i>Austin Live Music™ 2021 (Sam, Zoe, Rodrigo, Anna, Eliza)<i>
</footer>
