


#content {
    font-family: "Poppins", sans-serif;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    perspective: 1000px;
    padding-left: 35px;
    padding-right: 35px;

}
.logo img{
    width: 50rem;
    padding: 3rem 0rem;
}
.menu{
    display: flex;
    padding-bottom: 5rem;
}
.menu img {
    width: 7rem;
    padding: 0.5rem 0.5rem;
    margin: 0rem 0.5rem;
    border: none;
    outline: 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
}
.menu img:hover{
    background: #a7a7a8;
}
.menu .on img {
    background: #444443;
}
.main {
    width: 60rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main video{
    width: 60rem;
    padding: 3rem 0rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.summary h3 {
    font-size: 1.3rem;
    padding: 1.2rem 0rem;
    color: rgb(30, 30, 30);
    font-weight: lighter;
}
footer {
    margin: 3rem 0rem;
}
table, th, td {
	width: 90rem;	
	border: 1px solid black;
	border-collapse: collapse;
	padding: 1rem;
}
.genreDescription p {
	padding: 0rem 10rem;
	text-align: center;
}

.jumbotron {
  background-image: url("../static/images/genre_header.jpg");
  background-size: cover;
width: 100%;
}

.cropped1 {
    width: 100%; /* width of container */
    height: 350px; /* height of container */
    object-fit: cover;
}
    
.column {
    float: left;
    padding: 35px;
    width: 200px;
}

}
.caption { 
    display: block;
    width: 200px;
}
