<!DOCTYPE html>
<html lang="en">
   <head>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <title> Austin Live Music </title>
      <meta charset = 'UTF-8'>
      <meta name = 'description' content = 'Austin Live Music'>
      <meta name = 'author' content = 'Sam Miles, Zoe Michaux, Rodrigo Botello Saucedo, Eliza Chien, Anna Groves'>
      <meta name = 'viewport' content = 'width=device-width, initial-scale = 1.0'>

      <link rel = 'stylesheet' href = "{{ url_for('static', filename='styles.css') }}">
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

         <link rel="shortcut icon" href = "/static/images/favicon.png" >

   </head>
   <body>
 <!--
      <div class = 'logo'>
         <img src = 'logo.png' alt = 'Austin Live Music'>
      </div>
      <div class = 'menu'>
         <a href = '../About/about.html'><img src = '../About/about.jpg' alt = 'About Us'></a>
         <a href = '../Genre/genre.html'><img src = '../Genre/genre.jpg' alt = 'Genre'></a>
         <a href = '../Musician/musician.html'><img src = '../Musician/musician.png' alt = 'Musician/Artist'></a>
         <a href = '../Place/place.html'><img src = '../Place/place.png' alt = 'Venues'></a>
         <a href = '../Models/models.html'><img src = '../Models/models.jpg' alt = 'Models'></a>
      </div>
      <div class = 'main'>
         <div class = 'summary'>

-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" >
    <a class="navbar-brand" href="{{url_for('index')}}"><img src='/static/images/logo.png'alt="logo" height = "60"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{{url_for('venue')}}" style = "vertical-align:bottom" style="font-size:20px">Venues</a>
         <a class="nav-link" href="{{url_for('genre')}}" style = "vertical-align:bottom" style="font-size:20px">Genre</a>
         <a class="nav-link" href="{{url_for('musician')}}" style = "vertical-align:bottom" style="font-size:20px">Musicians</a>
         <a class="nav-link" href="{{url_for('search')}}" style = "vertical-align:bottom" style="font-size:20px">Search</a>
         <a class="nav-link" href="{{url_for('about')}}" style = "vertical-align:bottom" style="font-size:20px">About Us</a>
      </div>
    </div>
	<!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>


<div style="background: url('/static/images/about_us2.jpg')" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">About Us</h1>
        <p style="font-size:100%;" class="font-italic mb-4"><b>We are a team of 5 people from the University of Texas dedicated to providing you with the best concerts around Austin.</b></p>

        </p>
    </div>
</div>
      <div id="content">
			<div class="container">
				<form action="../static/images/TestPicture.PNG">
					<input type="submit" value="See unit test outcome" />
				</form>
			</div>




			<div class="container" >
				<div class="row justify-content-center top-buffer">

					<div class="col-md-4">
						<div  class="card shadow" style="width: 15rem;">
							<div class="inner" >
						        <img class="cropped1" class="card-img-top" src='../static/images/image_sam.png'alt="Card image cap">
						     </div>
						  <div class="card-body text-center">
							<h5 class="card-title">Sam Miles</h5>
							<p class="card-text">Sam is a senior studying Communications and Leadership, the CS certificate and the Entrepreneurship minor. She hopes to work in the technical project management industry.
								<p>46 commits 18 issues</p>
								<p>Major responsibilities: Coordinating team efforts, create templates for website, internal data collection/management, majority of unit tests</p>
								<p><a href="https://gitlab.com/rodrigobotello/cs331e-idb/-/issues">Issue Tracker</a></p>
								<p><a href="https://gitlab.com/rodrigobotello/cs331e-idb">Gitlab Repo</a></p>
								<p><a href="https://gitlab.com/rodrigobotello/cs331e-idb/-/wikis/home">Gitlab Wiki</a></p></div>
						</div>
					</div>



					<div class="col-md-4">
						<div class="card shadow" style="width: 15rem;">
							<div class="inner">
								<img class="cropped1" class="card-img-top" src='../static/images/image_rodrigo.png'alt="Card image cap">
							</div>
						  <div class="card-body text-center">
							<h5 class="card-title">Rodrigo Botello</h5>
							<p class="card-text">Rodrigo is a senior Honors Mechanical Engineering student with a
						   certificate in Elements of Computing. He aspires to work in the
						   technology industry.</p>
						   <p>21 commits,15 issues</p>
						   <p>Major responsibilities:About Us Page, majority of unit tests, search capability</p>
						   <p><a href="https://gitlab.com/rodrigobotello/cs331e-idb/-/issues">Issue Tracker</a></p>
								<p><a href="https://gitlab.com/rodrigobotello/cs331e-idb">Gitlab Repo</a></p>
								<p><a href="https://gitlab.com/rodrigobotello/cs331e-idb/-/wikis/home">Gitlab Wiki</a></p>
						  </div>
						</div>
					</div>


					<div class="col-md-4">
						<div class="card shadow" style="width: 15rem;">
							<div class="inner">
								<img class="cropped1" class="card-img-top" src = '../static/images/image_anna.png'alt="Card image cap">
							</div>
						  <div class="card-body text-center">
							<h5 class="card-title">Anna Groves</h5>
							<p class="card-text">Anna is a senior Mathematics student persuing the Elements of Computing certificate. Her goal
                                is to one day have a career in data science. For this project, Anna wrote the code that pulls from the Ticketmaster API.
                                She also implemented the database and search functionality using postgreSQL and sqlalchemy.</p>
								<p>27 commits, 15 issues</p>
								<p>Major responsibilities: Database Management, Postman integration, search capability, API permissions, Postgre integration</p>
								<p><a href="https://gitlab.com/rodrigobotello/cs331e-idb/-/issues">Issue Tracker</a></p>
								<p><a href="https://gitlab.com/rodrigobotello/cs331e-idb">Gitlab Repo</a></p>
								<p><a href="https://gitlab.com/rodrigobotello/cs331e-idb/-/wikis/home">Gitlab Wiki</a></p>
						  </div>
						</div>
					</div>

				</div>

				<div class="row justify-content-center top-buffer">

					<div class="col-md-4">
						<div  class="card shadow" style="width: 15rem;">
							<div class="inner" >
								<img class="cropped1" class="card-img-top" src = '../static/images/image_zoe.PNG'alt="Card image cap">
							</div>
						  <div class="card-body text-center">
							<h5 class="card-title">Zoe Michaux</h5>
							<p class="card-text">Baby yoda enthusiast.</p>
							<p>102 commits, 9 issues</p>
							<p>Major responsibilities: GCP management, improve nav bar, add JS functionality on front end, fix Flask Integration, Bootstrap/Improved CSS</p>
							<p><a href="https://gitlab.com/rodrigobotello/cs331e-idb/-/issues">Issue Tracker</a></p>
								<p><a href="https://gitlab.com/rodrigobotello/cs331e-idb">Gitlab Repo</a></p>
								<p><a href="https://gitlab.com/rodrigobotello/cs331e-idb/-/wikis/home">Gitlab Wiki</a></p>
						  </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card shadow" style="width: 15rem;">
							<div class="inner">
								<img class="cropped1" class="card-img-top" src = '../static/images/image_eliza.JPG'alt="Card image cap">
							</div>
						  <div class="card-body text-center">
							<h5 class="card-title">Eliza Chien</h5>
							<p class="card-text">Engineering Major, I love music and Austin!!!</p>
						  <p>13 commits, 10 issues</p>
						  <p>Major responsibilities:About Us Page, majority of unit tests, search capability</p>
						  <p><a href="https://gitlab.com/rodrigobotello/cs331e-idb/-/issues">Issue Tracker</a></p>
								<p><a href="https://gitlab.com/rodrigobotello/cs331e-idb">Gitlab Repo</a></p>
								<p><a href="https://gitlab.com/rodrigobotello/cs331e-idb/-/wikis/home">Gitlab Wiki</a></p>
						  </div>
						</div>
					</div>
				</div>
			</div>



				</div>
			</div>

			</div>

		</div>
   </body>
   <footer>
      <i>Austin Live Music™ 2021 (Sam, Zoe, Rodrigo, Anna, Eliza)<i>
   </footer>





			 <!-- These were the original "About Us" cards


				<div>

					<div class = "column" >
						<img class="cropped1"  src = '../static/images/image_sam.png' alt=""/>
						<p>About Sam!</p>
					</div>

					<div class = "column">
						<img class="cropped1" src = '../static/images/image_rodrigo.png' alt=""/>
						<p>Rodrigo is a senior Honors Mechanical Engineering student with a
						   certificate in Elements of Computing. He aspires to work in the
						   technology industry.</p>
					</div>

					<div class = "column" class = "item">
						<img class="cropped1" src = '../static/images/image_anna.png' alt=""/>
						<p>About Anna!</p>
					</div>

				</div>

			-->
