<!-- 


<!DOCTYPE html>
<html lang="en">
   <head>
      <title> Austin Live Music </title>
      <meta charset = 'UTF-8'>
      <meta name = 'description' content = 'Austin Live Music'>
      <meta name = 'author' content = 'Sam Miles, Zoe Michaux, Rodrigo Botello Saucedo, Eliza Chien, Anna Groves'>
      <meta name = 'viewport' content = 'width=device-width, initial-scale = 1.0'>
      <link rel = 'icon' href = 'plant.png'>
      <link rel = 'stylesheet' href = 'styles.css'>
   </head>
   
   <body>
      <div class = 'logo'>
         <img src = 'logo.png' alt = 'Austin Live Music'>
      </div>
      <div class = 'menu'>
         <a href = './About/about.html'><img src = './About/about.jpg' alt = 'About Us'></a>
         <a href = './Genre/genre.html'><img src = './Genre/genre.jpg' alt = 'Genre'></a>
         <a href = './Musician/musician.html'><img src = './Musician/musician.png' alt = 'Musician/Artist'></a>
         <a href = './Place/place.html'><img src = './Place/place.png' alt = 'Venues'></a>
         <a href = './Models/models.html'><img src = './Models/models.jpg' alt = 'Models'></a>
      </div>
      <div class = 'main'>
         <div class = 'summary'>
            <h3>Welcome to our website! <b> Austin Live Music</b> is a website dedicated to exploring the Austin music scene and trends.</h3>
         </div>

         <div class = 'summary'>
            <h3>For additional information, visit our partner site here (<a href = 'https://www.music.com/'>https://www.music.com/</a>) </h3>
         </div>
      </div>
   </body>
   <footer>
      <i>Austin Live Music™ 2021 (Sam, Zoe, Rodrigo, Allie, Eliza)<i>
   </footer>
   
   

			 
   
  
 -->
   

   
   
   
<!doctype html>
<html lang="en">
  <head>
  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel = 'stylesheet' href = "{{ url_for('static', filename='styles.css') }}">

    <link rel="shortcut icon" href = "../static/images/favicon.png" >

    
  <script type="text/javascript"
         src="{{ url_for('static', filename='quotes.js') }}"></script>

    <title>Austin Live Music</title>
	
	
  </head>
  
  <body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" >
    <a class="navbar-brand" href="{{url_for('index')}}"><img src='../static/images/logo.png'alt="logo" height = "60"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
         <a class="nav-link" href="{{url_for('venue')}}" style = "vertical-align:bottom" style="font-size:20px">Venues</a>
         <a class="nav-link" href="{{url_for('genre')}}" style = "vertical-align:bottom" style="font-size:20px">Genre</a>
         <a class="nav-link" href="{{url_for('musician')}}" style = "vertical-align:bottom" style="font-size:20px">Musicians</a>
         <a class="nav-link" href="{{url_for('search')}}" style = "vertical-align:bottom" style="font-size:20px">Search</a>
         <a class="nav-link" href="{{url_for('about')}}" style = "vertical-align:bottom" style="font-size:20px">About Us</a>
      </div>
    </div>

	<!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>
  
  
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	
		<div class="carousel-inner">
  
			<div class="carousel-item active">
				<img src="./static/images/index_active_1.jpg" height="600" class="d-block w-100" alt="index_active">
				<div class="carousel-caption">
					<h1>Austin Music</h1>
				</div>
			</div>
	
			<div class="carousel-item">
				<img src="./static/images/about_us_index.jpg" height="600" class="d-block w-100" alt="about_us_index">
				<div class="carousel-caption">
					<a href="{{url_for('genre')}}" class="btn btn-lg btn-primary">
					Genres
					</a>
				</div>
			</div>
	
			<div class="carousel-item">
				<img src="./static/images/musicians_index.jpg" height="600" class="d-block w-100" alt="about_us_index">
				<div class="carousel-caption">
					
					<a href="{{url_for('venue')}}" class="btn btn-lg btn-primary">
					Venues
					</a>
				</div>
			</div>

      <div class="carousel-item">
        <img src="./static/images/venues_index.jpg" height="600" class="d-block w-100" alt="about_us_index">
        <div class="carousel-caption">
          
          <a href="{{url_for('musician')}}" class="btn btn-lg btn-primary">
          Musicians
          </a>
        </div>
      </div>
	
		</div>
  
  
		<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		
		
	</div>
  

<div align="center"> 
  <script>writeRandomQuote();</script> 
</div>







    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
  </body>
</html>
     <i>Austin Live Music™ 2021 (Sam, Zoe, Rodrigo, Anna, Eliza)</i>
   </footer>

